<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var firstTime = true;

            $('#newmessage').submit(function(e) {
                var message = $("#messageinput").val();
                $.ajax({
                    'type'     : 'POST',
                    'url'      : '/put/{{room}}/{{uid}}',
                    'data'     : { 'message': message },
                    'dataType' : 'json',
                });
                $("#messageinput").val('');
                $("#messageinput").focus();
                e.preventDefault();
            });

            var longPoll = function() {
              return $.ajax({
                type: "POST",
                url: "/poll/{{uid}}",
                async: true,
                cache: false,
                timeout: 100000,
                success: function(data) {
                  console.log(data);
                  if (data.message.length > 0) {
                      $("#messages").append($("<li>" + data.message + "</li>"));
                  }
                  if (data.user.length > 0) {
                    if (!firstTime) {
                      $('#userList').append($("<li>" + data.user + "</li>"));
                    } else {
                        firstTime = false;
                    }
                  }
                  return longPoll();
                },
                dataType: 'json'
              });
            };

            longPoll();

        });
    </script>
</head>
<body>
    <h2>Online Now:</h2>
    <ul id="userList">
        {% for user in users %}
        <li>{{user}}</li>
        {% endfor %}
    </ul>
    <h2>Messages:</h2>
    <ul id="messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    <form id="newmessage">
        <input id="messageinput"></input>
        <input type="submit"/>
    </form>
</button>
</body>
</html>
